@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width:60% ;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top{
  width: 100%;
  background: rgb(225,223,255);
  background: linear-gradient(144deg, rgba(225,223,255,1) 0%, rgba(142,45,226,1) 0%, rgba(74,0,224,1) 100%);
  border-bottom-left-radius: 0.8rem ;
  border-bottom-right-radius: 0.8rem ;
}

.top .title{
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem 0;
  font-weight: bolder;
  color:white;
}

.middle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle input{
  width: 80%;
  height: 6rem;
  margin-top: 3rem;
  padding: 0.7rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  outline: none;
  background: none;
  background-color: transparent;
  border: 2px solid rgba(74,0,224,1);
  border-bottom: 5px solid rgba(74,0,224,1);
}

::placeholder{
  font-size: 1.6rem;
  color: rgba(75, 0, 224, 0.356);
}

.middle .emojiMeaning{
  color: rgba(74,0,224,1);
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(75, 0, 224, 0.075);
  padding: 0.35rem;
  border-radius: 0.35rem;
}

.bottom{
  width: 80%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
}

.output{
  /* width: 60%; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.output .emojis{
  width: 15rem;
  height: 15rem;
  text-align: center;
  font-size: 8rem;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid rgba(74,0,224,1);
  border-radius: 1.5rem;
  border-bottom: 6px solid rgba(74,0,224,1);
  cursor: pointer;
}
.output .emojis:hover{
  border-bottom: 15px solid rgba(74,0,224,1);
  transition: 0.1s ease-in all;
  background-color: rgba(75, 0, 224, 0.096);
}

.bottom-b {
  background: rgb(225,223,255);
  background: linear-gradient(144deg, rgba(225,223,255,1) 0%, rgba(142,45,226,1) 0%, rgba(74,0,224,1) 100%);
  padding: 2rem;
  margin-top: 3rem;
  width: 100%;
  border-top-left-radius: 0.8rem ;
  border-top-right-radius: 0.8rem ;
}

.bottom-made-by{
  text-align: center;
  color: white;
}

.bottom-made-by a{
  color: white;
}




/* Responsive Design */

@media (max-width : 478px){
  .container{
    width : 98%;
  }

  .output .emojis{
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgba(74,0,224,1);
    border-radius: 1.4rem;
    border-bottom: 5px solid rgba(74,0,224,1);
    cursor: pointer;
  }
  
  .output .emojis:hover{
    border-bottom: 9px solid rgba(74,0,224,1);
    transition: 0.1s ease-in all;
    background-color: rgba(75, 0, 224, 0.096);
  }

.middle input{
  width: 80%;
  height: 5rem;
  margin-top: 2rem;
  padding: 0.7rem;
  font-size: 2rem;
  border-radius: 0.7rem;
  outline: none;
  background: none;
  background-color: transparent;
  border: 2px solid rgba(74,0,224,1);
  border-bottom: 5px solid rgba(74,0,224,1);
}

.middle .emojiMeaning{
  font-size: 1.5rem;
}


::placeholder{
  font-size: 1.2rem;
}
}